<a href="https://colab.research.google.com/github/alvas-education-foundation/Dhanya-Shetty_026/blob/master/Python_code_leap_year.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 
# To get year (integer input) from the user
year = int(input("Enter a year: "))
 
if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year
Enter a year: 2007
2007 is not a leap year

# New Section