<a href="https://colab.research.google.com/github/alvas-education-foundation/Dhanya-Shetty_026/blob/master/Pythonic_coding_Day_4_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#Python Program to Add Two Numbers getting through key board
# sum of two nos
num1 = int(input("Enter first no"))
num2 = int(input("Enter second no"))

# Adding the two numbers
sum = num1 + num2

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no6
Enter second no3
The sum of 6 and 3 is 9

In [11]:
#Python program to check if the input year is a leap year or not

# To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2007
2007 is not a leap year

In [12]:
# Program to generate a random number between 0 and 9
# import the random module
import random
print(random.randint(0,9))

0

In [14]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [15]:
#Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records5
Enter name 1dan
Enter mark 145
Enter name 2vig
Enter mark 240
Enter name 3hema
Enter mark 335
Enter name 4prap
Enter mark 430
Enter name 5bin
Enter mark 525
input:  {'dan': 45, 'vig': 40, 'hema': 35, 'prap': 30, 'bin': 25}
output:  [('dan', 45), ('vig', 40), ('hema', 35), ('prap', 30), ('bin', 25)]

In [16]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter no of records3
Enter name 1dhanya
Enter salary 1600000
Enter name 2viggu
Enter salary 26500000
Enter name 3hema
Enter salary 359000
input:  {'dhanya': 600000.0, 'viggu': 6500000.0, 'hema': 59000.0}
output:  [('dhanya', 600000.0), ('hema', 59000.0), ('viggu', 6500000.0)]